<!DOCTYPE html> 
<html>
  <head>
    <title>MacAgile</title>
    <link href="/stylesheets/default.css" rel="stylesheet" type="text/css"/>
    <script src="/javascripts/prototype.js" type="text/javascript"></script> 
    <script src="/javascripts/effects.js" type="text/javascript"></script> 
    <script src="/javascripts/controls.js" type="text/javascript"></script> 
    <script src="/javascripts/dragdrop.js" type="text/javascript"></script> 
    <script src="/javascripts/application.js" type="text/javascript"></script> 
  </head>
  <body>
    <h1>Mac<span>Agile</span></h1>
    <%= yield %>
  </body>
</html>
